.ThemeList {
  
    float: left;
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.5vw;
  }
  
  .ThemeList li {
    padding: .6vmin;
    text-align: center;
  margin-top: 20px;
    margin-bottom: .5vmin;
  }

      
  .ThemeList li:hover:not(.active) {
    cursor: pointer;
    color:rgb(253, 128, 36);
  }
  
  .ThemeList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
  }