.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
}

.details .details-img {
    border: 2px solid #2b6777;
    width: 350px;
    height: 450px;
    margin: 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}