.logout{
    font-size: 20px;
    text-decoration: none;
    color:#2c2c2c
}
.me-auto{
    font-size: 20px;
    margin-left: 40px;
    color:#2c2c2c
}
.navBar{
    background-color:rgb(255 207 0);
}
span{
    font-size: 20px;
}